img {
  float: left;
  height: 700px;
  width: auto;
}

.hello {
  font-size: 60px;
  font-family: 'Great Vibes', cursive;
  text-align: center;
  background-color: #eee;
  padding-left: 50px;
  padding-right: 50px;
}

h2 {
  padding-top: 20px;
  text-align: center;
  color: blue;
}

.portfolio {
  padding-top: 10px;
}

.about {
  text-align: center;
  color: green;
  font-family: 'Josefin Slab', serif;
}

.address {
  float:right;
}

.sidebar {
  float: right;
}

#landing {
  background-image: url("../images/banner.jpeg");
  height: 700px;
  background-size: 100%;
  padding-top: 300px;
}
@media screen and (min-width: 480px) {
    body {
        background-color: white;
        color: black;
    }
}

@media screen and (min-width: 768px) {
  body {
    background-color: white;
  }
}
